<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="SingletonProjectChangeTest">
        <parameter name="index" value="2"/>
        <classes>
            <class name="SingletonProjectChangeTest" />
        </classes>
</test>

    <test name = "SingletonProjectGetTest">
        <classes>
            <class name="SingletonProjectGetTest"/>
        </classes>
    </test>
</suite>